<app-nav-bar></app-nav-bar>
<!-- Header Start -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2 sts">Skill Trace System</h1>
        <p class="lead mb-5 text-white-50">This project has been developed to guide staffs to the right projects and to
          evaluate staffs on a project and to measure their capabilities. Staffs will enter their skills, then project
          managers will be able to select the staff who will work in their projects.</p>
      </div>
    </div>
  </div>
</header>
<!-- /.header -->

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>This project has been developed to guide staffs to the right projects and to evaluate staffs on a project and
        to measure their capabilities. Staffs will enter their skills, then project managers will be able to select the
        staff who will work in their projects. As people develop themselves, their previously entered abilities will be
        dynamically updated.
      </p>
      <a class="btn btn-primary btn-lg" routerLink="/CreateProject">Create Form</a>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Feature Content -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="m-auto text-primary fas fa-desktop"></i>
          </div>
          <h3>Fully Responsive</h3>
          <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-layer-group m-auto text-primary"></i>
          </div>
          <h3>Bootstrap 4 Ready</h3>
          <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-check m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Card Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-title">FAQs</h1>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="clearfix mb-0">
              <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne"><i class="fa fa-chevron-circle-down"></i> What is STS?</a>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">Skill Tracer System is a web application for tracking the skill evaluation of team
              members.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo"><i class="fa fa-chevron-circle-down"></i> What is the app areas?</a>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">Main application areas of this solution are project managers in the business world.
              Forms are used for collecting the skills of people working on project. It can be integrated into job
              search and career sites.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-chevron-circle-down"></i> What is
                the objective of this system?</a>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">This project has been developed to guide staffs to the right projects and to evaluate
              staffs on a project and to measure their capabilities. Staffs will enter their skills, then project
              managers will be able to select the staff who will work in their projects. As people develop themselves,
              their previously entered abilities will be dynamically updated.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour"><i class="fa fa-chevron-circle-down"></i> Can I use the system?</a>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">System is designed for everyone.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <br>
</div>
<!-- /.container -->
<app-footer></app-footer>
