<!-- Title -->
<div class="container welcome-title">
  <h4 class="modal-title text-center">Welcome to STS</h4>
</div>
<!-- Login Form -->
<div class="login-form">
  <form method="post">
    <div class="avatar"><i class="far fa-user"></i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <!-- Email -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" #userName required>
    </div>
    <!-- Password -->
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" #userPassword required>
    </div>
    <input type="button" class="btn btn-primary btn-block btn-lg"
      (click)="AUTHService.login(userName.value, userPassword.value)" value="Login">
  </form>
  <div class="text-center small">Don't have an account? <a routerLink="/UserRegister" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Sign up</a></div>
</div>
